@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
   --co01: #8D9CF2;
   --co02: #A7B2F2;
   --co03: #BBC8F2;
   --co04: #9FC053;
   --co05: #EED049;
}
html{
    background-color: #8D9CF2;
    height: 100vh;
    width: 100vw;

}


main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.450); 

    transform: translate(-50%,-50%);
    transition: width .3s height .3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: #8D9CF2 url(../imagem/tela\ de\ loge.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;

}

section#login > div#formulario{
    display: block;
    padding: 8px;
    
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 0px;
}

div#formulario > p {
    font-size: 0.8em;
    padding: 10px 0px;
} 

 form > div.campo{
    background-color: #c3cbff;
    border: 2px solid #c3cbff;
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    border: 10px;
    margin: 5px;
    border-radius: 10px;
    border-radius: 10px 10px;
    cursor: pointer;
 }

 div.campo > label{
    display:none;
}

div.campo > span{
    color: rgba(3, 131, 131, 0.644);
   /* background-color: black;*/
    font-size: 2em;
    width: 41px;
    padding: 5px;
}

div.campo > input {
  background-color: #8fa759;
  font-size: 1em;
  width: calc(95% - 35px);
  height:100%;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  transform: translateY(-10px);

}

div.campo > input:focus-within{
    background-color: white;

}

form > input[type=submit] {
    display: block;
    font: size 1em;
    width: 100%;
    height: 40px;
    background-color: #9FC053;
     border: 1px solid black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form > input[ type=submit]:hover {
    background-color: #cbf06ff1;
    color: black;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height:40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color:#a2adf5;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 10px;

}

form > a.botao:hover{
    background-color:#8b92bbbe;
    color: black;
}

form >  a.botao > i {
    font-size: 0.8em;
}







