@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
   --co01: #8D9CF2;
   --co02: #A7B2F2;
   --co03: #BBC8F2;
   --co04: #9FC053;
   --co05: #EED049;
}
html{
    background-color: #8D9CF2;
    height: 100vh;
    width: 100vw;

}


main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.450); 
    transition: width .3s height .3s;
    transition-timing-function: ease ;

}

section#login > div#imagem {
    display: block;
    background: #8D9CF2 url(../imagem/tela\ de\ loge.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;

}

section#login > div#formulario{
    display: block;
    padding: 10px;
    
}
div#formulario > h1 {
    text-align: center;

}







