@charset "UTF-8";

*{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
}

html{
    background-color: rgb(26, 153, 111);
    height: 100vh;
    width: 100vw;
}
header{
    background-color:rgb(5, 68, 5);
     justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 40px;
    margin: 0px;
    
}

 nav > ul{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 30px;
    right: 10px;
    list-style: none;
    padding: 20px;
    
}
 a {
    text-decoration: none;
    padding: 40px;
    color: chocolate;
    list-style: none;
}
ul > :hover {
    background-color:rgba(168, 168, 8, 0.315);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.562);
    border-radius: 10px;
}

.logo > h2{
    font-size: 25px;
    color: chocolate;
}
.logo > p{
   font-size: 14px;
   color: white;
}

.hero{
    position: relative;
}
.hero  img{
    width: 100%;
    height: 100vh;
    opacity: 0.5em;
    background: rgba(0,0,0.5);
    text-align: center;
}
.texto{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    color:black;

    font-size: 25px;
    margin: 0px;
    padding: 0px; 
    align-items: center;

}
.texto > p{
    font-size: 0px;
    
}
